page-profile{
    label{
        font-size: 1.2em;
        font-weight: bold;
    }
    
    span{
        font-size: 1.2em;
    }
    
    .iconButton{
        float: right;
    }

    
}
.linkedInButton{
    background-color: #007bb5;
}
