.container{
    background-color: #09304D;
}

.titleContainer{
    margin-top: 30%;
    margin-bottom: 30%;
    text-align: center;
    align-content: center;
}

.title{
    color:white;
    font-size: 40px;
}

.buttonContainer{
    padding:7%;
}

.googleButton{
    background-color: #D34836;
}